@font-face {
    font-family: 'KoPubWorld';
    src: url("./font/KoPubWorld.ttf");
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'KoPubWorld';
}
a {
    color: #666;
    text-decoration: none;
}