.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mypage-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mypage-title {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-top: 7rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
}
.mypage-img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.mypage-content-container {
    width: 80%;
    height: 60%;
    position: fixed;
    bottom: 0;
    margin-bottom: 7rem;
    border-radius: 1rem;
    /* background-color: rgb(232, 232, 232); */
    display: flex;
    flex-direction: column;
}
.mypage-content-title-container {
    width: 100%;
    margin-left: 1rem;
}
.mypage-content-name {
    font-size: 2.5rem !important;
    margin-right: 0.5rem;
}
.mypage-content-title {
    display: inline-block;
    font-size: 2rem;
}
.mypage-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}
.mypage-card {
    width: 30%;
    height: 70%;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 5px 13px 0px;
}