.nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 5px 13px 0px;
    position: fixed;
    z-index: 100;
}
.nav-icon {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 3rem;
}
.nav-icon a {
    display: flex;
    align-items: center;
}
.nav-icon-img {
    width: 30px;
    height: auto;
}
.nav-icon-title {
    color: #0061FF;
    margin-left: 1rem;
    font-size: 1.25rem;
}
.nav-menu {
    margin-right: 3rem;
}
.nav-list {
    display: flex;
    column-gap: 3rem;
    list-style: none;
}
.nav-link {
    display: block; 
    color: #666;
    font-weight: bold;
}