.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bookmark-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bookmark-title-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
    position: fixed;
    top: 0;
}
.bookmark-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.bookmark-writing-btn {
    width: 150px;
    height: 50px;
    background-color: #0061FF;
    border-radius: 1rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-right: 2rem;
}
.bookmark-img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.bookmark-list-container {
    width: 80%;
    height: 60%;
    position: fixed;
    bottom: 0;
    margin-bottom: 7rem;
    border-radius: 1rem;
    background-color: rgba(232, 232, 232, 0.58);
    display: flex;
    flex-direction: column;
}
.bookmark-list {
    padding: 1rem 1rem 1rem 3rem;
}
.bookmark-list-order {
    width: 100px;
    display: inline-block;
    font-size: 2rem;
}
.bookmark-list-title {
    width: 200px;
    font-size: 2rem;
    display: inline-block;
}
.bookmark-list-link {
    font-size: 1.5rem;
}