@font-face {
  font-family: 'KoPubWorld';
  src: url("../../public/font/KoPubWorld.ttf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'KoPubWorld';
  overflow: hidden;
}
#__next {
  width: 100%;
  height: 100%;
}
a {
  color: #666;
  text-decoration: none;
}