.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.note-title-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
    position: fixed;
    top: 0;
}
.note-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.note-writing-btn {
    width: 150px;
    height: 50px;
    background-color: #0061FF;
    border-radius: 1rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-right: 2rem;
}
.note-img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.note-list-container {
    width: 80%;
    height: 60vh;
    position: fixed;
    bottom: 0;
    margin-bottom: 7rem;
    border-radius: 1rem;
    overflow-y: scroll;
    box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
}
 .note-list-container::-webkit-scrollbar{
    width: 8px;
 }
 .note-list-container::-webkit-scrollbar-thumb {
    height: 30%;
    background: rgba(33, 122, 244, 0.2);
    border-radius: 10px;
}

.note-list-container::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, 0.1);
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
    height: 70%;
    padding: 1rem 0 1rem 1rem;
}
.note-card {
    width: 25%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 5px 13px 0px;
    background-color: rgba(232, 232, 232, 0.58);
}
.note-card-text {
    height: 50%;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
    background-color: white;
}
.note-card-title {
    height: 18%;
    font-size: 1.75rem;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
}
.note-card-date {
    font-size: 1rem;
    color: #666;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
}

/* 모달 */
.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1rem 2rem;
    background-color: #5c5c5c67;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 70%;
    height: 500px;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
}
.modal>h1 {
    font-size: 2.25rem;
}
.modal>input {
    width: 700px;
    height: 50px;
    padding: 12px 20px;
    border-radius: 1rem;
    border: 3px solid #cccccc;
    outline: none;
    word-break: break-all;
}
.modal>textarea {
    width: 700px;
    height: 100px;
    padding: 12px 20px;
    border-radius: 1rem;
    border: 3px solid #cccccc;
    outline: none;
    resize: none;
    word-break: break-all;
}
.modal>button {
    width: 620px;
    height: 60px;
    padding: 10px;
    margin: 2rem 0;
    border-radius: 1rem;
    border: none;
    background-color: #0061FF;
    color: #fff;
    font-size: 1rem;
}