.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.note-title-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
    position: fixed;
    top: 0;
}
.note-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.note-writing-btn {
    width: 150px;
    height: 50px;
    background-color: #0061FF;
    border-radius: 1rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-right: 2rem;
}
.note-img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.note-list-container {
    width: 80%;
    height: 60%;
    position: fixed;
    bottom: 0;
    margin-bottom: 7rem;
    border-radius: 1rem;
}
.note-list {
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
    height: 70%;
}
.note-card {
    width: 25%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 5px 13px 0px;
    background-color: rgba(232, 232, 232, 0.58);
}
.note-card-text {
    height: 50%;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
    background-color: white;
}
.note-card-title {
    height: 18%;
    font-size: 1.75rem;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
}
.note-card-date {
    font-size: 1rem;
    color: #666;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
}